footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}



@media screen and (max-width: 768px) {
  section,aside {
    width: 100%;
    padding: 0;
    text-align: left;
  }


  .content_inicioText {
    font-size: 100%;
  }


  footer {
    display: none;
  }

  .row{
    padding: 0 20px;
    display:table;
    width: 100%;
  }

}

